@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Writer

@{
    ViewData["Title"] = "Update Writer";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Update Writer</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group text-center">
                            <img class="border-info rounded-circle" id="ProfilepicPreview" style="max-width: 350px" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Id" class="control-label"></label>
                            <input asp-for="Id" class="form-control" hidden/>
                            <span asp-validation-for="Id" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Profilepic" class="control-label"></label>
                            <input asp-for="Profilepic" class="form-control" />
                            <span asp-validation-for="Profilepic" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="FullName" class="control-label"></label>
                            <input asp-for="FullName" class="form-control" />
                            <span asp-validation-for="FullName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Bio" class="control-label"></label>
                            <input asp-for="Bio" class="form-control" />
                            <span asp-validation-for="Bio" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Update" class="btn btn-outline-success float-right" />
                            <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function(){
            var output = document.getElementById('ProfilepicPreview');
            output.src = $("#Profilepic").val();
        })

        $("#Profilepic").on("change", function(){
            var output = document.getElementById('ProfilepicPreview');
            output.src = $(this).val();
        })
    </script>
}
