@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Books

@{
    ViewData["Title"] = "Add New Book";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Add a New Book</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group text-center">
                            <img class="border-info rounded-circle" id="ProfilepicPreview" style="max-width: 350px" />
                        </div>
                        <div class="form-group">
                        <label asp-for="Picture" class="control-label"></label>
                        <input asp-for="Picture" class="form-control" />
                        <span asp-validation-for="Picture" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Course" class="control-label"></label>
                            <input asp-for="Course" class="form-control" />
                            <span asp-validation-for="Course" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Price" class="control-label"></label>
                            <input asp-for="Price" class="form-control" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Publishdate" class="control-label"></label>
                            <input asp-for="Publishdate" class="form-control" />
                            <span asp-validation-for="Publishdate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-outline-success float-right" />
                            <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function(){
            var output = document.getElementById('ProfilepicPreview');
            output.src = $("#Picture").val();
        })

        $("#Picture").on("change", function () {
            var output = document.getElementById('ProfilepicPreview');
            output.src = $(this).val();
        })
    </script>
}
